.baloon {
    position: relative;
    background-color: #ffd666;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;

    display: flex;
    flex-direction: column;

    .b-content {
        flex-grow: 1;
    }

    &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 70px;
        width: 0;
        border-top: 20px solid #ffd666;
        border-left: 20px solid transparent;
    }
}
