.baloon {
    position: relative;
    background-color: #ffd666;

    margin-bottom: 10px;

    padding-bottom: 10px;
    border-radius: 6px;

    display: flex;
    flex-direction: column;

    .close-btn {
        margin: 10px;
    }

    .b-content {
        flex-grow: 1;
    }

    &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 70px;
        width: 0;
        border-top: 20px solid #ffd666;
        border-left: 20px solid transparent;
    }

    &.in-progress {
        &::before {
            // Display none is the easy way, we can fine tune the color as well
            display: none;
            content: "";
            border-top: 20px solid #ffd666b6;
        }
    }
}
