.clippy {
    margin-top: 15px;
    background: url("../../../resources/images/clippy.png") center no-repeat;
    background-size: contain;
    width: 153px; /* 615 */
    height: 170px; /* 681 */
    -webkit-app-region: drag;
}