@import "../../../vars.scss";

.message {
    padding: 10px;
    padding-top: 0;

    .m-title {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: -1px;
    }

    .m-content {
        font-size: 19px;
        margin-top: 5px;
        letter-spacing: -0.5px;
    }

    .m-operations {
        margin-top: 10px;
        display: flex;
        justify-content: center;

        .btn-next, .btn-sleep {
            border: 1px solid $accent-dark;
            border-radius: 3px;
        }
    }
}
