@import "../../../vars.scss";

.question {
    transition: all 0.5s linear;

    .description {
        font-size: 14px;
        letter-spacing: -0.2px;
        font-weight: 500;
        margin-left: 20px;
        margin-right: 20px;
    }

    .radio-wrap {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .option {
        display: block;
        font-size: 13px;
        font-weight: 400;
    }

    .result-wrap {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 600;

        &.correct {
            background-color: $accent-light;
            color: $accent-dark;
        }

        &.wrong {
            background-color: $accent-dark;
            color: $accent-light;
        }
    }

    .operations {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-evenly;
    }
}
