@import "../../../vars.scss";

.question {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;

    .description {
        font-size: 16px;
        letter-spacing: -0.2px;
        font-weight: 500;
        margin-left: 20px;
        margin-right: 20px;
    }

    .radio-wrap {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .option {
        display: block;
        font-size: 15px;
        font-weight: 400;
    }

    .result-wrap {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 600;

        animation: intro 0.5s;

        &.correct {
            background-color: $accent-light;
            color: $accent-dark;
        }

        &.wrong {
            background-color: $accent-dark;
            color: $accent-light;
        }

        @keyframes intro {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    .operations {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-evenly;

        .btn-accept {
            max-width: 50%;
        }
    }
}